<div class="container">
    <h1>Selecciona producto</h1>
    <div class="card-group">
        <div (click)="navigate('mask')" class="card">
            <img src="../../../assets/img/medical-mask.png" class="card-img-top w-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mascarillas</h5>
            </div>
        </div>
        <div (click)="navigate('sanitizer')" class="card">
            <img src="../../../assets/img/sanitizer.png" class="card-img-top w-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gel antibacterial</h5>
            </div>
        </div>
        <div (click)="navigate('oxygen')" class="card">
            <img src="../../../assets/img/tanque-de-oxigeno.png" class="card-img-top w-50" alt="...">
            <div class="card-body">
                <h5 class="card-title">Tanue de oxigeno</h5>
            </div>
        </div>
    </div>
</div>