<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="textContainer">
                <h1 class="contagiado__title">¿Crees que puedes estar <span class="color_custom_word">contagiado</span> ?</h1>
                <p class="contagiado__p">
                    Si tienes sospechas de que has contraido covid-19,
                    puedes realizar un pequeño autotest online para ayudarte a
                    tomar la acción adecuada si presentas síntomas de coronavirus.
                </p>
                <button (click)="navigate()" class="btn-contagiado">Empezar test</button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="contagiado__img" src="../../../../assets/img/contagiado-svg.svg" alt="">
        </div>
    </div>
</div>