<div class="container min-vh-100">
    <div class="row">
        <div class="col-md-6 p-md-3">
            <div class="leftContainer d-flex flex-column">
                <img src="../../../assets/img/no-virus-icon.svg" class="imgInfo">
                <h1 class="weight_custom_word">¿Cuáles son los síntomas?</h1>
                <p class="mt-1">
                    
                    La COVID-19 afecta de distintas maneras en función de cada persona. 
                    Los sintomas pueden ser leves, moderados o graves 
                    y se presentan en un plazo de 5 a 6 días. Observa los síntomas según 
                    su nivel de intensidad:
                </p>
                <div class="sintomasList" class="d-flex flex-column flex-md-row">
                    <div class="leftSintomas d-flex flex-column">
                            <span class="flaticon-boton leveColor"><span class="textColorDefault ml-1">  Fiebre </span> </span>
                            <span class="flaticon-boton leveColor"><span class="textColorDefault ml-1">Tos seca </span></span>
                            <span class="flaticon-boton leveColor"><span class="textColorDefault ml-1">Cansancio</span> </span>
                            <span class="flaticon-boton moderadoColor"><span class="textColorDefault ml-1"> Molestias y dolores</span></span>
                            <span class="flaticon-boton moderadoColor"><span class="textColorDefault ml-1">Dolor de garganta</span></span>
                            <span class="flaticon-boton moderadoColor"><span class="textColorDefault ml-1">Diarrea</span></span>
                    </div>
                    <div class="rightSintomas d-flex flex-column">
                        <span class="flaticon-boton moderadoColor"> <span class="textColorDefault ml-1">Conjuntivitis</span> </span>
                        <span class="flaticon-boton moderadoColor"> <span class="textColorDefault ml-1">Dolor de cabeza</span> </span>
                        <span class="flaticon-boton moderadoColor"> <span class="textColorDefault ml-1">Pérdida del olfato/gusto</span></span>
                        <span class="flaticon-boton graveColor"> <span class="textColorDefault ml-1">Dificultad para respirar</span> </span>
                        <span class="flaticon-boton graveColor"> <span class="textColorDefault ml-1">Dolor o presión en el pecho </span></span>
                        <span class="flaticon-boton graveColor"> <span class="textColorDefault ml-1">Incapacidad para hablar/moverse</span> </span>
                    </div>
                </div>
                <div class="intensidadContainer mt-2 d-flex justify-content-center">
                    <li class="leve"> <i class="flaticon-boton"></i> Leve</li>
                    <li class="moderada"> <i class="flaticon-boton"></i>  Moderada</li>
                    <li class="grave"> <i class="flaticon-boton"></i> Grave</li>
                </div>
                <div class=" mt-2 d-flex justify-content-center">
                    <button class="btn-sintomas">¿Cómo se transmite?</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <div class="rightContainer d-flex justify-content-center align-items-center">
                <img src="../../../assets/img/sintomas-img.svg" alt="">
            </div>
        </div>
    </div>

</div>

<div class="container min-vh-100">
        <div class="row">
            <div class="col text-center">
                <img src="../../../assets/img/no-virus-icon.svg" class="imgInfo mt-5">
                <h1 class="weight_custom_word">¿Cómo se transmite?</h1>
                <div class="card-deck mt-5">
                    <div class="card">
                      <img src="../../../assets/img/transmisionImg01.svg" class="card-img-top transmisionImg img-fluid mx-auto" alt="...">
                      <div class="card-body">
                        <h5 class="card-title weight_custom_word">Contacto humano</h5>
                        <p class="card-text">Al tocar o estrechar la mano de una persona infectada.</p>                      
                    </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/img/transmisionImg02.svg" class="card-img-top transmisionImg img-fluid mx-auto" alt="...">
                      <div class="card-body">
                        <h5 class="card-title weight_custom_word">A través del aire</h5>
                        <p class="card-text">Al toser, esturnudar y ser una persona infectada</p>                      
                    </div>
                    </div>
                    <div class="card">
                      <img src="../../../assets/img/transmisionImg03.svg" class="card-img-top transmisionImg img-fluid mx-auto" alt="...">
                      <div class="card-body">
                        <h5 class="card-title weight_custom_word">Superficies contaminadas</h5>
                        <p class="card-text">Al tocar un objeto o supericie con el virus y luego tocarse la boda, la nariz o los ojos antes de lavarse las manos</p>                      
                    </div>
                    </div>
                  </div>
            </div>
        </div>
</div>