<div class="container">
  <div class="row">
    <div class="col-12">
      <form #registroForm="ngForm" (ngSubmit)="onSubmit(registroForm)" class="form__main text-center">
        <div *ngIf="step === 1">
          <h4>Agrega la información de tu sucursal:</h4>
          <div class="form-group">
            <i class="fas fa-building"></i>
            <input
              #name = "ngModel"
              name="name"
              [(ngModel)]="sucursal.name"
              class="myInput"
              type="text"
              placeholder="Nombre de la sucursal"
              [class.invalidCampo]="name.invalid && name.touched"
              ngModel
              required
              minlength = "2"
            />
          </div>
          <div class="form-group">
            <i class="fas fa-location-arrow"></i>
            <input
              #location = "ngModel"
              name="location"
              [(ngModel)]="sucursal.location"
              class="myInput"
              type="text"
              placeholder="Domicilio: calle y colonia"
              [class.invalidCampo]="location.invalid && location.touched"
              ngModel
              required
              minlength = "5"
            />
          </div>
          <div class="form-group">
            <i class="fas fa-phone-volume"></i>
            <input
              #tel = "ngModel" 
              name="tel"
              [(ngModel)]="sucursal.tel"
              class="myInput"
              type="text"
              placeholder="Numero de teléfono"
              [class.invalidCampo]="tel.invalid && tel.touched"
              ngModel
              required
              minlength = "8"
            />
          </div>
          <div class="form-group">
            <select
              #state = "ngModel"
              [(ngModel)]="sucursal.state"
              name="state"
              class="custom-select"
              [class.invalidCampo]="state.value === estados[0] && state.touched"
              required
              ngModel
            >
              <option *ngFor="let estado of estados" [value]="estado">
                {{ estado }}
              </option>
            </select>
          </div>
          <button (click)="siguiente(registroForm)" type="button" class="btn btn-next">
            Siguiente
          </button>
        </div>
        <div *ngIf="step === 2">
          <h4>Selecciona los productos que ofreces:</h4>
          <div class="card-deck">
            <div class="card">
              <img
                src="../../../../assets/img/medical-mask.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Mascarillas</h6>
                <input
                  [(ngModel)]="sucursal.products.mask"
                  (change)="onChange($event, 'mask')"
                  name="products.mask"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="card">
              <img
                src="../../../../assets/img/sanitizer.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Gel antibacterial</h6>
                <input
                  [(ngModel)]="sucursal.products.sanitizer"
                  (change)="onChange($event, 'sanitizer')"
                  name="products.sanitizer"
                  type="checkbox"
                />
              </div>
            </div>
            <div class="card">
              <img
                src="../../../../assets/img/tanque-de-oxigeno.png"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Oxigeno</h6>
                <input
                  [(ngModel)]="sucursal.products.oxygen"
                  (change)="onChange($event, 'oxygen')"
                  name="products.oxygen"
                  type="checkbox"
                />
              </div>
            </div>
          </div>
          <small *ngIf="validacionChecks" class="mt-1 text-danger">Por favor selecciona al menos un producto</small> <br>
          <button class="btn btn-finish mt-2" type="submit">Terminar</button>
        </div>
      </form>
      <ng-container *ngIf="step > 1">
          <i (click)="atras()"  class="fas fa-arrow-circle-left" >
            <span> Volver</span>
          </i>
      </ng-container>
      <ng-container *ngIf="step === 1">
        <i (click)="goBack()"  class="fas fa-arrow-circle-left" >
            <span> Cancelar</span>
          </i>
      </ng-container>
    </div>
  </div>
</div>
