<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="weight_custom_word mt-4 text-center">
        ¿Cómo debería protegerme?
      </h1>
      <p class="text-center mt-3 w-70 subtitle">
        Toma las precauciones adecuadas e infórmate bien para protegerte y
        cuidar de quienes te rodean. Sigue las recomendaciones de los organismos
        de salud pública de tu zona.
      </p>

      <!-- Slider main container -->
      <div class="swiper-container mt-5">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/useMask.svg" class="card-img-top" >
                <div class="card-body">
                  <p class="card-text text-center weight_custom_word">Utiliza una <span class="color_custom_word"> mascarilla</span></p>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/washHands.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text weight_custom_word"> <span class="color_custom_word"> Lava </span> tus manos con frecuencia</p>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/keepDistance.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center weight_custom_word">Mantén una <span class="color_custom_word"> distancia</span> de seguridad con las personas</p>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/stayHome.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center weight_custom_word"><span class="color_custom_word">Quédate </span>en casa si no es necesario salir</p>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/useSanitizer.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center weight_custom_word"><span class="color_custom_word"> Utiliza</span>gel antibacterial a base de alcohol</p>
                </div>
              </div>
          </div>
          <div class="swiper-slide">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img/cleanSuperficies.svg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text text-center weight_custom_word"><span class="color_custom_word">Limpia</span> regularmente las superficies de tu hogar</p>
                </div>
              </div>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>
